<a href="https://bulma.io" style="position:absolute; bottom:0;">
    <img src="/assets/img/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
</a>
<script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
