<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello Bulma!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
</head>

<body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Hmm
      </h1>
      <p class="subtitle">
        I don't think that page exists (
        <strong>404</strong>)... Or maybe it just didn't want to load (
        <strong>503</strong>)
        <i class="em em-cry"></i>
      </p>
    </div>
  </section>
</body>

</html>