<!DOCTYPE html>
<html>

<head>
  <%- include ./partials/head.ejs %>
</head>

<body>

  <%- include ./partials/navbar.ejs %>

    <section class="section">
      <div class="container">
        <h1 class="title">
          Retro Tube
        </h1>
        <p class="subtitle">
          a
          <strong>old videos</strong> from your favorite
          <strong>YouTubers</strong>!</p>
        <p class="subtitle">
          Simply search for their username below and start watching!
        </p>
        <form action="/search" method="post">
          <label class="label" for="searchQuery">Username:</label>
          <div class="field has-addons">
            <p style="width:100%" class="control">
              <input name="searchQuery" required id="searchQuery" class="input" type="text" placeholder="OfficialNerdCubed">
            </p>
            <p class="control">
              <button type="submit" class="button is-info">
                Search
                </a>
            </p>
          </div>
        </form>
        </p>
      </div>
    </section>
    <%- include ./partials/footer.ejs %>
</body>

</html>